@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://www.buraksenyurt.com" target="_blank">Bir Reklam</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
