@using Toy.BlazorServer.Data
@inject ToyService _toyService
@inject AppState _appState

@if(IsPreviewMode)
{
    <ViewToy ToyModel="ToyModel"/>
}
else
{
    <EditForm Model="@ToyModel" OnValidSubmit="HandleValidSubmit">
        <div class="card-body">
            <DataAnnotationsValidator/>
            Nickname : 
            <InputText class="form-control" @bind-Value="ToyModel.Nickname"/>
            Description :
            <InputTextArea class="form-control" @bind-Value="ToyModel.Description"/>
            <br/>
            <button type="submit" class="btn btn-outline-primary">Kaydet</button>
            <button type="button" class="btn btn-outline-light" @onclick="HandleUndoChanges">Geri Al</button>
        </div>
    </EditForm>
}